/*Conteúdo do cabeçalho e logo*/
:root{
    --rosa: #E04060;
    --verde: #c0c060;
    --roxo: #202040 
}
body{
    margin: auto auto;
    background-color: #CFCFE7;
}
.top-menu-bar{
    width: 99vw;
    height: 40%;
    background-color:var(--roxo);
    display: flex;
    justify-content: center;
    align-items: center;
}
.top-menu-bar ul li#logo-container{
    width: 40%;
    height: 40;
    display: flex;
    justify-content: left;
    align-items: center;
}

.top-menu-bar ul li #logo{
    position: relative;
    left: 1;
    width: 237.5px;
    height: 221.25px;
}
.top-menu-bar ul {
	padding: 0;
    margin: 0;
	list-style: none;
    position: relative;
    height: 21vh;
}
	
.top-menu-bar ul{
	display: flex;
}

#mother,
#retract-menu-item{
    display:inline-block;
}
#dropdown #mother .loja{
    width: 80px;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

#dropdown #historia .saiba-menos{
    margin-right: 15px;
}

body div.main-slide-button{
    width: 99vw;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.top-menu-bar a {
	display: flex;
	padding:0 10px;	
	color:#FFF;
	font-size:20px;
	line-height: 60px;
	text-decoration:none;
}
.top-menu-bar a:hover{
    background-color:var(--verde);
}

.top-menu-bar ul.children {
    display: none;
    position: absolute;
}
#mother:hover .children{
    display: inherit;
    z-index: 99;

}
.top-menu-bar li#mother li#retract-menu-item {
    background-color: var(--roxo);
	width:170px;
	float:none;
	display:list-item;
    position: relative;
}

.top-menu-bar li#mother li#retract-menu-item:hover {
    background-color:var(--verde);
}

#dropdown{
    width: 85vw;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}


body .content{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Conteúdo da página Sobre nós*/
.logotxt{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 85%;
    margin: 0 auto;
}

.logotxt > :nth-child(2){
    display: block;
    background-color: aliceblue;
    align-self: center;
    border-radius: 20px;
}