/*Conteúdo do cabeçalho e logo*/
:root{
    --rosa: #E04060;
    --verde: #c0c060;
    --roxo: #202040;
    --fundo: #CFCFE7;
}
body{
    margin: auto auto;
    background-color:var(--fundo);
    width: 99vw;
    overflow-x: hidden
}
.top-menu-bar{
    width: 99vw;
    height: 40%;
    background-color:var(--roxo);
    display: flex;
    justify-content: center;
    align-items: center;
}
.top-menu-bar ul li#logo-container{
    width: 40%;
    height: 40;
    display: flex;
    justify-content: left;
    align-items: center;
}

.top-menu-bar ul li #logo{
    position: relative;
    left: 1;
    width: 237.5px;
    height: 221.25px;
}
.top-menu-bar ul {
	padding: 0;
    margin: 0;
	list-style: none;
    position: relative;
    height: 21vh;
}
	
.top-menu-bar ul{
	display: flex;
}

#mother,
#retract-menu-item{
    display:inline-block;
}
#dropdown #mother .loja{
    width: 80px;
    height: 19px;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.top-menu-bar #container{
    display: flex;
    align-items: center;
}
.top-menu-bar #container{
    display: flex;
    align-items: center;
    cursor: pointer;
}

#dropdown #historia .saiba-menos{
    margin-right: 25px;
    font-family: "Corbel";
}

body section.main-slide-button{
    width: 99vw;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.top-menu-bar a,
.top-menu-bar p {
	display: flex;
	padding:0 10px;	
	color:#FFF;
	font-size:20px;
	line-height: 60px;
    text-decoration:none;
    font-family: "Corbel";
}
.top-menu-bar p.loja {
	padding: 0;
}
.top-menu-bar #container:hover,
.GreenButton a:hover{
    background-color:var(--verde);
}

.top-menu-bar ul.children {
    display: none;
    position: absolute;
}
#mother:hover .children{
    display: inherit;
    z-index: 99;

}
.top-menu-bar li#mother li#retract-menu-item {
    background-color: var(--roxo);
	width:170px;
	float:none;
	display:list-item;
    position: relative;
}

.top-menu-bar li#mother li#retract-menu-item:hover {
    background-color:var(--verde);
}

#dropdown{
    width: 85vw;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}




/*Conteúdo da página Sobre nós*/
img{
    display: block;
}

p{
    width: 100%;
    height: 100%;
    font-family:"Corbel";
    font-size: 24px;
    line-height: 100%;
    text-decoration: none;
}

h2{
    font-family:"Corbel";
    font-size: 38px;
    line-height: 100%;
}


/*Sections -> bloco*/

.Bloco1{
    position: relative;
    bottom: -16vw;
    background-color: var(--rosa);
    border-radius: 20px;
    max-width: 92.5%;
    margin: 0 auto;
    padding: 30px;
}

.Bloco2{
    position: relative;
    bottom: -12vw;
    background-color: var(--verde);
    border-radius: 20px;
    max-width: 92.5%;
    margin: 5% auto;
    padding: 30px;
}

.Bloco3{
    position: relative;
    bottom: -9vw;
    background-color: var(--roxo);
    border-radius: 20px;
    max-width: 92.5%;
    height: 59vh;
    margin: 5% auto;
    padding: 15px;
}


/*                                          BLOCO 1                                             */
/*texto com logo*/
.logotxt{
    display: grid;
    gap: 16vw;
    max-width: 50%;
    margin: 0 auto;
    padding-bottom: 30px;
}

.logotxt img{
    width: 175%;
    height: auto;
    position: relative;
    margin-top: -35%;
    justify-self: center;
    border-radius: 10px;
    padding-bottom: -500px;

    grid-column: 1;
    grid-row: 1/3;
}   

.logotxt h1{
    background-color: var(--roxo);
    color: #FFF;
    padding: 10px;
    border-radius: 20px;
    font-family:"Corbel";
    font-size: 40px;
    line-height: 100%;
    text-align: center;

    grid-column: 1;
    grid-row: 2;
}


/*Informações*/
.articlebox1{
    background-color: var(--verde);
    border-radius: 20px;
    max-width: 92.5%;
    margin: 0 auto;
}

.info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3%
}
.info #text1{
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.info #text10{
    width: 80%;
    height: 100%;
    text-align: center;
}
.info #img{
    width: 100%;
    height: 92%;
    border-radius: 10px;
}

.info img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

/*Valores*/
.valores{
    margin: 0 auto;
    max-width: 70%; 
    text-align: right;
    padding-bottom: 25vh;
    margin-bottom: 5%;
    margin-top: 5%;
}

.val{
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../imagens/Valores.png");
    background-size: cover;
    background-color:white;
    width: 440px;
    height: 440px;
    float: right;
   shape-outside: circle() margin-box; 
   margin: 5%;
 
   border: 10px solid rgba(0, 0, 0, .1);
   border-left-color: #f38db4;
   border-radius: 50%;
}

/*Nosso diferencial*/
.articlebox1{
    background-color: var(--verde);
    border-radius: 20px;
    max-width: 92.5%;
    margin: 0 auto;
    padding: 30px;
}

.diferencial{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2%
}
.diferencial #img2{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.diferencial img{
    width: 95%;
    height: 95%;
    border-radius: 10px;
}


/*                                            BLOCO 2                                             */
/*Nossa história*/
.articlebox2{
    background-color: var(--roxo);
    border-radius: 20px;
    max-width: 92.5%;
    margin: 0 auto;
    padding: 30px;
}

.historia{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2%;
}
.historia #img3{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.historia img{
    width: 98%;
    height: 81%;
    border-radius: 10px;
}


/*                                            BLOCO 3                                             */
/*Como contribuir*/
.cont{
    margin: 0 auto;
    max-width: 85%;
}

.contribuicao{
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../imagens/Selo.png");
    background-color: #FFF;
    width: 440px;
    height: 440px;
    border-radius: 50%;
    float: left;
    shape-outside: circle() margin-box; 
    margin: 2%;
    border: 10px solid rgba(0, 0, 0, .1);
    border-right-color: var(--verde);
    border-radius: 50%;
}

