:root{
    --rosa: #E04060;
    --verde: #c0c060;
    --roxo: #202040 
}
body{
    margin: auto auto;
}
.top-menu-bar{
    width: 100vw;
    height: 45%;
    background-color:var(--roxo);
    display: flex;
}
.top-menu-bar ul {
	padding: 0;
    margin: 0;
	list-style: none;
	position: relative;
}
	
.top-menu-bar ul{
	display: flex;
}

#mother,
#retract-menu-item{
    display:inline-block;
}
#dropdown #mother .loja{
    width: 80px;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

#dropdown #mother #container{
    width: 100%;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}

body div.main-slide-button{
    width: 99vw;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.top-menu-bar a {
	display: flex;
	padding:0 10px;	
	color:#FFF;
	font-size:20px;
	line-height: 60px;
	text-decoration:none;
}
.top-menu-bar a:hover{
    background-color:var(--verde);
}

.top-menu-bar ul.children {
    display: none;
    position: absolute;
}
#mother:hover .children{
    display: inherit;

}
.top-menu-bar li#mother li#retract-menu-item {
    background-color: var(--roxo);
	width:170px;
	float:none;
	display:list-item;
    position: relative;
    margin-left: -60px;
}

.top-menu-bar li#mother li#retract-menu-item:hover {
    background-color:var(--verde);
}

#dropdown{
    width: 95vw;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.banner{
    float: left;
    height: 600px;
    width: 1500px;
}
  
#slide-show{
    position: relative;
    overflow: hidden;
    width: 1500px;
    height: 600px;
    margin: 0 0;
}


body #main-slide-button{
    position: relative;
    display: flex;
}

.banner-box {
    position: relative;
    z-index: -1;
    width: 4500px;
    -webkit-animation: slide 18s ease infinite;
}

@-webkit-keyframes slide {
    10% {margin-left: 0px;}
    20% {margin-left: 0px;}
    30% {margin-left: -1500px;}
    50% {margin-left: -1500px;}
    60% {margin-left: -3000px;}
    70% {margin-left: -3000px;}
    100% {margin-left: -0px;}
}

#nav{
    display: flex;
    justify-content: center;
    width: 100%;
    bottom: 12%;
    height: 11px;
    position: absolute;
    text-align: center;
    z-index: 99;
    cursor: default;
}
#nav #buttons{
    width: 15%;
    display: flex;
    justify-content: space-around;
}

#nav .dots{
    top: -15%;
	width: 18px;
	height: 18px;
	position: relative;
	border-radius: 100%;
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.6);
	cursor: pointer;
}

