:root{
    --rosa: #E04060;
    --verde: #c0c060;
    --roxo: #202040;
    --fundo: #CFCFE7;
}
body{
    margin: auto auto;
    background-color:var(--fundo);
}
.top-menu-bar{
    width: 98.6vw;
    height: 40%;
    background-color:var(--roxo);
    display: flex;
    justify-content: center;
    align-items: center;
}
.top-menu-bar ul li#logo-container{
    width: 40%;
    height: 40;
    display: flex;
    justify-content: left;
    align-items: center;
}

.top-menu-bar ul li #logo{
    position: relative;
    left: 1;
    width: 237.5px;
    height: 221.25px;
}
.top-menu-bar ul {
	padding: 0;
    margin: 0;
	list-style: none;
    position: relative;
    height: 21vh;
}
	
.top-menu-bar ul{
	display: flex;
}

#mother,
#retract-menu-item{
    display:inline-block;
}
#dropdown #mother .loja{
    width: 80px;
    height: 24px;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.top-menu-bar #container{
    display: flex;
    align-items: center;
}
.top-menu-bar #container{
    display: flex;
    align-items: center;
    cursor: pointer;
}

#dropdown #historia .saiba-menos{
    margin-right: 25px;
}

body section.main-slide-button{
    width: 99vw;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.top-menu-bar a,
.top-menu-bar p {
	display: flex;
	padding:0 10px;	
	color:#FFF;
	font-size:20px;
	line-height: 60px;
	text-decoration:none;
}
.top-menu-bar p.loja {
	padding: 0;
}
.top-menu-bar #container:hover,
.top-menu-bar a:hover{
    background-color:var(--verde);
}

.top-menu-bar ul.children {
    display: none;
    position: absolute;
}
#mother:hover .children{
    display: inherit;
    z-index: 99;

}
.top-menu-bar li#mother li#retract-menu-item {
    background-color: var(--roxo);
	width:170px;
	float:none;
	display:list-item;
    position: relative;
}

.top-menu-bar li#mother li#retract-menu-item:hover {
    background-color:var(--verde);
}

#dropdown{
    width: 85vw;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.banner{
    float: left;
    height: 600px;
    width: 1500px;
}
  
#slide-show{
    position: relative;
    overflow: hidden;
    width: 1500px;
    height: 600px;
    margin: 0 auto;
}



.banner-box {
    position: relative;
    z-index: -1;
    width: 4500px;
}

#nav{
    display: flex;
    justify-content: center;
    width: 100%;
    bottom: 12%;
    height: 11px;
    position: absolute;
    text-align: center;
    z-index: 99;
    cursor: default;
}
#nav #buttons{
    width: 15%;
    display: flex;
    justify-content: space-around;
}

#nav .dots{
    top: -15%;
	width: 18px;
	height: 18px;
	position: relative;
	border-radius: 100%;
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.6);
	cursor: pointer;
}

#i1,
#i2,
#i3{display: none;}

#nav #button1:hover,
#nav #button2:hover,
#nav #button3:hover{
    background-color:white
}

#i1:checked ~ #nav #buttons #button1{ background-color: white}
#i2:checked ~ #nav #buttons #button2{ background-color: white}
#i3:checked ~ #nav #buttons #button3{background-color: white}

#i1:checked ~ .banner-box{margin-left: -0px;}
#i2:checked ~ .banner-box{margin-left: -1500px;}
#i3:checked ~ .banner-box{margin-left: -3000px;}

body .content{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content div.how-to{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 25vw;
}

.how-to #one{
    grid-column-start: 1;
    display: inline-block;
}
.how-to #two{
    grid-column-start: 2;
    display: inline-block;
}
.how-to #tres{
    grid-column-start: 3;
    display: inline-block;
}

.how-to #icons{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.how-to img{
    width: 80%;
}

.how-to div#icon-content{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -45px;
    margin-left: 100px;
    margin-right: 100px;
}
.how-to div p{
    font-family: Cambria;
    font-size: 22px;
    font-style: initial;
    font-weight: bolder;
    color: #202040;
    margin-left: 10px;
    margin-right: 120px;

}
.manchetes .manchete-1,
.manchetes .manchete-2{
    display: flex;
    width: 69%;
    height: 58vh;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    margin: 0 auto;
    margin-bottom: 20px;
    background-color: var(--roxo);
    border-radius: 8px;
    margin-top: 140px;
}
#content-text-button{
    display: flex;
    justify-content: center;
    align-items: center;;
    align-content: center;
    justify-items: center;
    width: 100%;
    height: 100%;
}
#container-manchete{
    width: 60%;
    padding-right: 15px;
}
#container-manchete2{
    width: 82.5%;
    padding-right: 15px;
}
.manchete-1 #texto-manchete1,
.manchete-1 #link-manchete1{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;;
    align-content: flex-end;
    justify-items: flex-end;
    font-size: 38px;
    color: var(--verde);
    text-align: center;
}
.manchete-2 #texto-manchete2,
.manchete-2 #link-manchete2{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: flex-end;
    justify-items: flex-end;
    font-size: 38px;
    color: var(--verde);
    text-align: center;
    padding-left: 35px;
}
.manchete-1 #link-manchete1 a{
    text-decoration: none;
    background-color: var(--rosa);
    color: white;
    font-size: 20px;
    border-radius: 8px;
}
.manchete-2 #link-manchete2 a{
    text-decoration: none;
    background-color: var(--rosa);
    color: white;
    width: 50%;
    font-size: 20px;
    border-radius: 8px;
}
#texto-manchete1 #destaque,
#texto-manchete2 #destaque{
    color: var(--rosa);
}

.manchete-1 #div-manchete-1,
.manchete-2 #div-manchete-2{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    width: 100%;
    height: 88%;
}
.manchete-2 #div-manchete-2{
    order: -1;
}
.manchete-1 #imagem-manchete-1
{
    width: 100%;
    height: 100%;
    padding-right: 130px;
}
.manchete-2 #imagem-manchete-2
{
    width: 100%;
    height: 100%;
    padding-left: 100px;
}
