/* >>> ALL <<< */
:root{
    --rosa: #E04060;
    --verde: #c0c060;
    --roxo: #202040 
}

body{
    background-color: #CFCFE7;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

/* >>> MENU <<< */
nav.menu{
    width: 100vw;
    height: 11vh;
    background-color:var(--roxo);
    display: flex;
}

nav.menu ul{
    list-style: none;
    width: 100vw;
    height: 11vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

li#logo-box{
    margin-top: 5px;
    width: 50%;
    height: 100%;
}

#logo{
    width: 100%;
    padding-left: 8px;
}

div#botoes-menu{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 45px;
}

div#botoes-menu li{
    height: 100%;
    display: flex;
    align-items: center;
    padding-right:10px ;
    padding-left: 10px;

}

#link-menu2{
    display: flex;
    width: 3vw;
    height: 100%;
    text-decoration: none;
    color: white;
    justify-content: center;
    align-items: center;
}

#link-menu1{
    display: flex;
    width: 100%;
    height: 65%;
    text-decoration: none;
    font-family: "Corbel";
    color: white;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
    font-size: 25px;
    padding: 0 25px;
}

#link-menu-logo{
    display: flex;
    width: 8.5%;
    height: 90%;
    padding-left: 18px;
    text-decoration: none;
    color: white;
}

#img-carrinho{
    width: 50px;
    height: 60px;

}

div#botoes-menu #link-menu1:hover{
    background-color: var(--verde);
}

/* >>> HEADER <<< */

.banner{
    display: grid;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding-top: 20px;
}

.div-exotic{
    display: grid;
    justify-content: center;
}

/* >>> BLOCOS <<< */

section {
    position: relative;
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
}

section .box {
    position: relative;
    max-width: 300px;
    height: 320px;
    background: #FFF;
    margin: 30px 10px;
    border-radius: 5px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    transition: 0.3s ease-in-out;
}

section .box:hover {
    height: 390px;
}

section .box .img {
    position: relative;
    width: 260px;
    top: -60px;
    left: 5px;
    z-index: 1;
}

section .box .img img {
    max-width: 100%;
    border-radius: 5px;
}

section .box .content {
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition: 0.1s step-end;
}

section .box:hover .content {
    visibility: visible;
    opacity: 1;
    margin-top: 10px;
    transition-delay: 0.1s;
}

.botao{
    padding: 12px;
    margin: 10px;
    font-family: "Tahoma";
    font-weight: bolder;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    background: #E04060;
    color: #FFF;
}

.fruit-name {
    width: 240px;
    margin-left: 20px;
    font-size: 20px;
    margin-top: -50px;
    font-family: "Tahoma";
    font-weight: bolder;
    color: var(--rosa)
}

#selo{
    width: 9%;
    height: 9%;
    padding-left: 10px;
    padding-top: -10px;
}

.fruit-price {
    display: flex;
    margin-right: 30px;
    margin-top: 10px;
    font-family: "Tahoma";
    justify-content: flex-end;
}

.about{
    font-family: Tahoma;
    font-size: 15px;
    color: #202040;
}
/* >>> MENU END <<< */

footer{
    background-color: #202040;
    width: 100vw;
    height: 180px;
    display: flex;
    align-items: flex-end;
}

div.botao-top{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 60px;
}

#botao{
    background-color: #E04060;
    border-radius: 0.25rem;
    font-family: "Corbel";
    font-weight: bold;
    font-size: 20px;
    color: #c0c060;
    width: 28%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.imglogo{
    display: flex;
    align-self: flex-start;
    width: 44%;
    height: 100%;
    margin-left: 12px;
}

#logo2{
    width: 30%;
    height: 100%;
}